<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->

<body ontouchstart="">

    <!-- 加载与开屏动画 -->
    <div id="loader-wrapper">
        <div class="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}


    <!-- Image to hack wechat -->
    <img src="/img/common/apple-touch-icon.png" width="0" height="0" />
    <!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>